.navbar {
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  height: 60px;
  width: 95vw;
}

.innerNav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 20%;
}

.nav {
  color: var(--accent-color);
  font-weight: 100;
  text-shadow: var(--accent-color) 1px 0px 10px;
  transition: 0.3s;
}

.nav:hover {
  scale: 1.02;
  text-shadow: var(--light-color) 1px 0px 15px;
}

.logo {
  transition: 0.5s;
}

.logo:hover {
  scale: 1.1;
}

.projectLink {
  color: var(--light-color);
  letter-spacing: 1px;
  transition: 0.5s;
}

.projectLink:hover {
  color: var(--accent-color);
  scale: 1.02;
}

.main {
  align-items: center;
  display: flex;
  height: 90vh;
  justify-content: center;
  
}

.name {
  background-color: transparent;
  color: var(--accent-color);
  font-size: 4rem;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.title {
  background-color: transparent;
  font-size: 1rem;
  margin-bottom: 16px;
  
}

.name:hover {
  scale: 1.02;
  text-shadow: 1px 0 2px var(--light-color);
  transform: skew(5deg, 5deg);
}

.title:hover {
  scale: 1.03;
  text-shadow: 3px 0 5px var(--accent-color);
  transform: skew(-5deg, -5deg);
}

.name, 
.title {
  font-weight: 300;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  transition: 1s;
}

.btn {
  background-color: var(--dark-color);
  border: 1px solid var(--accent-color);
  border-radius: 40px;
  color: var(--accent-color);
  font-size: 14px;
  height: 1.8rem;
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  text-transform: uppercase;
  transition: 0.5s;
  padding: 4px 12px;
  position: relative;
  width: 6rem;
}

.btn:hover {
  -webkit-box-shadow: 0 0 10px 0 var(--accent-color);
  box-shadow: 0 0 10px 0 var(--accent-color);
  cursor: pointer;
  scale: 1.05;
}


@media screen and (max-width: 768px) {
  
  .innerNav {
    width: 50%;
  }
}


